.clips{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10%;
    position: relative;

    /* justifyContent: "center",
    flexWrap: "wrap",
    "& > *": {
      margin: theme.spacing(0), */

} 